@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/olf8ahi.css");

body {
  background-color: #f4f3ee;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: rama-gothic-c, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: ibm-plex-sans-condensed, sans-serif;
}
