@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/olf8ahi.css");

body {
  background-color: #f4f3ee;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: rama-gothic-c, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: ibm-plex-sans-condensed, sans-serif;
}

.updown-animation {
  animation-name: infiniteupdown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}

@keyframes infiniteupdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
